html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#instructions {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    /*height: 100%;*/
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    justify-content: center;
    align-items: center;
}

#play-button-container {
    display: flex;
    justify-content: center;
}

#btnPlay {
    font-size: 45px;
    margin: 15px;
    width: 205px;
}

.button {
    font-size: 45px;
    margin: 15px;
    width: 205px;
}